.wrapper {
  height: 65px;
  width: 100%;
  background-color: #7AFF77;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #5efc5c;
  }
}
