.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorMsg {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  color: red;
}

.arrowBlock {
  margin: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}